*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.App {
  /* text-align: center; */
  background-color: #405784;
  min-height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #405784;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 10vh;
  padding: 0 100px;
  width: 100%;
}

.logo-text{
  width: 35%;
  cursor: pointer;
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.home{
  color: lightblue;
}
.list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 13px;
}
.menu-button-div{
  width: 15%;
}
.menu-button{
  color: white;
  padding: 6px 15px;
  background-color: transparent;
  border: 1px solid lightblue;
  border-radius: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.info-button{
  color: white;
  padding: 6px 15px;
  background-color: rgb(105, 171, 193);
  border: 1px solid lightblue;
  border-radius: 15px;
  font-weight: bolder;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}

.details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 100%;
  padding: 70px 100px;
}
.info{
  width: 50%;
  color: white;
}
.info h1{
  font-weight: 900;
  width: 70%;
}
.info-paragraph{
  color: rgb(207, 203, 203);
  font-size: 13px;
  width: 70%;
}
.controls{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}
.sp{
  font-size: 10px;
  padding-left: 4px;
}
.pic-div{
  width: 50%;
  height: 100%;
}
img{
  width: 70%;
  height: 100%;
}

.footer{
  min-height: calc(100vh - 80vh);
}

.ban{
  display: flex;
  justify-content: space-around;
  background-color: rgb(236, 230, 230);
  min-height: 10vh;
}

.banner-div{
  padding-top: 15px;
}

.aboutus{
  background-color: white;
  color: #405784;
  text-align: center;
  height: 10vh;
  padding-top: 30px;
}